 ul{
float:right;
margin-right: 25px;

}

ul li{
display:inline-block;
line-height: 2px;
margin: 50px;
}
 ul li a { 
color:rgb(0, 0, 0);
font-size: 18px;
font-weight: 600;
position: relative;
bottom:119px;
 }

 div { 
position:relative;
bottom:45px;
left: 800px;
 }

.link{
  position:relative;
  right:110px;
  bottom:50px;
}
.logo{
position:relative;
left:1540px;
top:50px;
}
.logo2{
  position:relative;
  left:970px;
  top:50px;
  }
  .logo3{
    position:relative;
    left:330px;
    top:50px;
    }
    .logo4{
      position:relative;
      width:200px;
      right:190px;
      top:40px;
      }

      .logo5{
        position:relative;
        width:200px;
        left:190px;
        bottom:20px;
        }
      
.uni{
  position:relative;
  left:1550px;
  bottom:10px;
}
.uni2{
  position:relative;
  left:1200px;
  bottom:420px;
}

.uni3{
  position:relative;
  left:830px;
  bottom:820px;
}

.uni4{
  position:relative;
  left:510px;
  bottom:1150px;
}


