ul{
  float:right;
  margin-right: 25px;
  
  }
  
  ul li{
  display:inline-block;
  line-height: 2px;
  margin: 50px;
  }
   ul li a { 
  color:rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom:118px;
  }
  
  div { 
    position:relative;
    bottom:45px;
    left: 800px;
     }

.em1{
  position:relative;
  top: 83px;
   left: 53px;
   }

   .em2{
    position:relative;
    bottom:250px;
     left: 465px;
     }
     .em3{
      position:relative;
      bottom: 175px;
       left: 465px;
       }
       .em4{
        position:relative;
        bottom: 500px;
         left: 53px;
         }

         .logo{ 
          border-radius: 150px;
          width: 200px;
          height: 200px;
          position:relative;
          left: 450px;
          bottom:265px;
        }

        .logo2{ 
          border-radius: 150px;
          width: 200px;
          height: 200px;
          position:relative;
          left: 0px;
          bottom:30px;
        }

        .logo3{ 
          border-radius: 150px;
          width: 200px;
          height: 200px;
          position:relative;
          left: 450px;
          bottom:200px;
        }

        .logo4{ 
          border-radius: 150px;
          width: 200px;
          height: 200px;
          position:relative;
          left: 56px;
          bottom:525px;
        }