ul{
  float:right;
  margin-right: 25px;
  
  }
  
  ul li{
  display:inline-block;
  line-height: 2px;
  margin: 50px;
  }
   ul li a { 
  color:rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom:118px;
  }
  
  div { 
    position:relative;
    bottom:45px;
    left: 800px;
     }

.em1{
  position:relative;
  top: 200px;
   left: 53px;
   }

   .em2{
    position:relative;
    top: 91px;
     left: 423px;
     }
     .em3{
      position:relative;
      top: 305px;
       left: 435px;
       }
       .em4{
        position:relative;
        top: 200px;
         left: 53px;
         }