ul{
  float:right;
  margin-right: 25px;
  
  }
  
  ul li{
  display:inline-block;
  line-height: 2px;
  margin: 50px;
  }
   ul li a { 
  color:rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom:168px;
  }

  div { 
    position:relative;
    bottom:45px;
    left: 800px;
     }

.form1{
position:relative;
right:800px;
top:37px;
font-size:25px;
}
  
.form2{
  position:relative;
  left:620px;
  bottom:52px;
  font-size: 25px;
}

.form3{
  position:relative;
  bottom:50px;
  font-size: 25px;
}

.form4{
  position:relative;
  bottom: 49px;
  font-size: 25px;
}

.form5{
  position:relative;
  bottom:55px;
  font-size: 25px;
}

.form6{
  position:relative;
  bottom:600px;
  left:620px;
  font-size: 25px;
}

.form7{
  position:relative;
  bottom:600px;
  left:620px;
  font-size: 25px;
}

.form8{
  position:relative;
  bottom:600px;
  left:620px;
  font-size: 25px;
}